.advantages {
  @include full-width;
}

.advantages__container {
  @include container;
}

.advantages__list {
  @include list;
  margin-top: 41px;
  margin-bottom: 41px;
}

.advantages__item {
  margin-top: 26px;
}

.advantages__text {
  width: 200px;
  font-family: $arial;
  font-size: $second-fs;
}

@media (min-width: $tablet-width) {
  .advantages__container {
    width: 708px;
    margin: 0 auto;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    min-width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__container {
    width: 1220px;
    margin: 0 auto;
  }
}
