.categories__container {
  width: 280px;
  margin: 0 auto;
  margin-top: 22px;

  @media (min-width: $tablet-width) and (max-width: 1399px) {
    width: 708px;
    margin: 0 auto;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-top: 77px;
  }
}

.categories__list {
  @include list;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.categories__item {
  position: relative;
  padding: 31px 20px 0;
  margin-bottom: 20px;
  background-color: $gray;

  &::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 22px;

    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50px;
  }

  &--slim::after {
    content: "";

    position: absolute;
    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;
    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

  }

  &--pro::after {
    content: "";

    position: absolute;
    top: 36px;
    left: 13px;

    width: 67px;
    height: 28px;


    background-image: url("../../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: $tablet-width) and (max-width: 1399px) {
    padding: 84px 53px 52px;
    margin-bottom: 30px;

    &::before {
      top: 92px;
      left: 446px;

      width: 200px;
      height: 200px;
      border-radius: 200px;
    }

    &--slim::after {
      top: 80px;
      left: 476px;

      width: 140px;
      height: 194px;
    }

    &--pro::after {
      top: 135px;
      left: 412px;

      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 86px 52px 46px;

    &::before {
      top: 48px;
      left: 52px;

      width: 100px;
      height: 100px;
      border-radius: 100px;
    }

    &--slim::after {
      top: 43px;
      left: 66px;

      width: 70px;
      height: 97px;
    }

    &--pro::after {
      top: 70px;
      left: 34px;

      width: 134px;
      height: 56px;
    }
  }
}

.categories__text {
  position: relative;
  width: 207px;
  margin-top: 29px;
  margin-bottom: 21px;
  font-family: $arial;
  font-size: $second-fs;

  &--width {
    width: 244px;
  }

  @media (min-width: $tablet-width) and (max-width: 1399px) {
    width: 375px;
    margin-top: 35px;
    margin-bottom: 45px;

    font-size: $third-fs;
    line-height: $sixth-lh;

    &--width {
      width: 344px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 466px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: $third-fs;
    line-height: $sixth-lh;
  }
}

.categories__link {
  display: block;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  line-height: $third-lh;
  border-top: 1px solid #d9d9d9;

  &:active {
    opacity: 0.3;
  }

  &--arrow-slim::after {
    position: absolute;

    content: "";
    width: 24px;
    height: 11px;

    bottom: 23px;
    left: 117px;

    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: $tablet-width) and (max-width: 1399px) {
      bottom: 66px;
      left: 184px;
    }

    @media (min-width: $desktop-width) {
      bottom: 66px;
      left: 184px;
    }
  }

  &--arrow-pro::after {
    position: absolute;

    content: "";
    width: 24px;
    height: 11px;

    bottom: 22px;
    left: 115px;

    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: $tablet-width) and (max-width: 1399px) {
      bottom: 66px;
      left: 178px;
    }

    @media (min-width: $desktop-width) {
      bottom: 65px;
      left: 177px;
    }
  }

  @media (min-width: $tablet-width) and (max-width: 1399px) {
    padding: 10px 0;
    border: none;
    font-size: $fouth-fs;
    line-height: $fifth-lh;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0;
    border: none;
    font-size: $fouth-fs;
    line-height: $fifth-lh;
  }
}
