.example {
  background-color: $gray;
}

.example__container {
  width: 280px;
  margin: 0 auto;
  margin-top: 13px;
  padding-top: 17px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-bottom: 70px;
    margin-top: -7px;
    padding-top: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
  }
}

.example__content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  &--border-width {
    width: 124px;
  }

  &--text-center {
    text-align: center;
  }

  &--border {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
  }

  &--margin-bottom {
    margin-bottom: 33px;
  }

  @media (min-width: $tablet-width) {

    &--border-width {
      width: 162px;
    }

    &--margin-right {
      margin-right: 42px;
    }

    &--margin-bottom {
      margin-bottom: 87px;
    }

    &--margin-top {
      margin-top: -600px;
    }
  }

  @media (min-width: $desktop-width) {
    &--padding-right {
      padding-right: 130px;
      box-sizing: border-box;
    }

    &--margin-top {
      margin-top: -180px;
    }

    &--width {
      width: 572px;
    }

    &--margin-right {
      margin-right: 43px;
    }

    &--margin-bottom {
      margin-bottom: 48px;
    }

    &--margin {
      margin-top: -226px;
    }
  }

}

.example__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--space-between {
    justify-content: space-between;
  }

  &--margin-top {
    margin-top: 36px;
  }

  &--margin-bottom {
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    &--margin-top {
      margin-top: 74px;
    }

    &--margin-bottom {
      margin-bottom: 217px;
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;

    &--margin-top {
      margin-top: 0;
    }

    &--margin-bottom {
      margin-bottom: 45px;
    }
  }
}

.example__text {
  font-family: $arial;
  font-size: $second-fs;
  margin: 0;

  &--uppercase {
    text-transform: uppercase;
  }

  &--oswald {
    font-family: $oswald;
  }

  &--normal {
    font-weight: 400;
  }

  &--fifth-lh {
    line-height: $fifth-lh;
  }

  &--black {
    color: $black;
  }

  &--first-fs {
    font-size: $first-fs;
  }

  &--first-lh {
    line-height: $first-lh;
  }

  &--fifth-fs {
    font-size: $fifth-fs;
  }

  &--sixth-lh {
    line-height: $sixth-lh;
  }

  &--padding-first {
    padding: 13px 0 18px;
  }

  &--padding-second {
    padding: 0 15px;
  }

  &--bg-gray {
    background-color: $gray;
  }

  &--absolute {
    position: absolute;
    bottom: -16px;
    left: 50%;

    transform: translateX(-50%);
  }

  &--margin {
    margin-left: 48px;
  }

  &--margin-top {
    margin-top: 23px;
  }

  &--margin-bottom {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    font-size: $third-fs;
    line-height: $sixth-lh;

    &--ninth-fs {
      font-size: $ninth-fs;
    }

    &--ninth-lh {
      line-height: $ninth-lh;
    }

    &--second-fs {
      font-size: $second-fs;
    }

    &--second-lh {
      line-height: $second-lh;
    }

    &--bg-white {
      background-color: $white;
    }

    &--fouth-fs {
      font-size: $fouth-fs;
    }

    &--width {
      width: 175px;
    }

    &--text-align {
      text-align: right;
    }

    &--padding-first {
      padding: 15px 0 20px;
    }

    &--padding-second {
      padding: 0 10px;
    }

    &--margin {
      margin-left: auto;
      margin-top: 11px;
    }

    &--nowrap {
      white-space: nowrap;
    }

    &--absolute {
      bottom: -6px;
    }

    &--margin-top {
      margin-top: 63px;
    }

    &--margin-bottom {
      margin-bottom: 54px;
    }

    &--fifth-lh {
      line-height: $fifth-lh;
    }

    span {
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    &--margin-top {
      margin-top: 145px;
    }

    &--margin-bottom {
      margin-bottom: 70px;
    }

    &--bg-gray {
      background-color: $gray;
    }

    &--margin {
      margin-left: 0;
    }

    &--width {
      width: 350px;
    }

    &--text-align {
      text-align: left;
    }

    &--fifth-lh {
      line-height: $fifth-lh;
    }

    &--padding-first {
      padding: 13px 0 20px;
    }

    span:first-child{
      margin-right: 65px;
    }
  }
}

.example__image {
  width: 320px;
  height: 240px;
  max-width: none;

  @media (min-width: $desktop-width) {
    width: 677px;
    height: 499px;
    margin-left: -75px;
  }
}

.example__list {
  @include list;
}

.example__item {
  &--no-display {
    display: none;
  }
}

.example__button {
  padding: 0;
  // display: block;
  border: none;
  width: 50px;
  font-size: $third-fs;
  line-height: $fifth-lh;
  color: $black;
  font-family: $oswald;
  background-color: $gray;

  @media (min-width: $tablet-width) {
    height: 26px;
    font-size: $fouth-fs;
    border-bottom: 1px dotted #cdcdcd;
  }
}

.example__range-view {
  position: relative;
  margin: 0 13px;

  top: 5px;
  left: 0;

  width: 84px;
  height: 14px;
  box-sizing: border-box;

  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;

  &::before {
    content: " ";
    position: absolute;
    top: 3px;
    left: 6px;

    width: 35px;
    height: 6px;

    border-radius: 3px;
    background-color: #68b738;
  }


  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0 21px;

    top: 10px;
    left: 0;

    width: 430px;
    height: 4px;
    box-sizing: border-box;

    border-radius: 6px;
    border: solid 1px #dcdcdc;
    background-color: #dcdcdc;

    &::before {
      content: "";
      position: absolute;

      top: -17px;
      left: 196px;

      width: 34px;
      height: 34px;

      background: #ffffff;
      border: 1px solid #dcdcdc;
      border-radius: 50%;
    }

    &::after {
      content: " ";
      position: absolute;
      top: -2px;
      left: 211px;

      width: 6px;
      height: 6px;

      border-radius: 6px;
      background-color: #68b738;
    }
  }
}


