.hero {
  @include full-width;
  background-image: url("../../img/index-can-mobile@1x.png"), url("../../img/index-background-mobile@1x.jpg");
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
  background-position: center 170px, center top;
}

.hero__container {
  width: 280px;
  margin: 0 auto;
  padding-top: 29px;
}

.hero__text {
  margin-top: 20px;
  margin-bottom: 300px;
  font-size: $second-fs;
  line-height: $second-lh;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .hero {
    min-height: 870px;
    background-image: url("../../img/index-can-tablet@1x.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center 220px;


  }

  .hero__container {
    width: 708px;
    margin: 0 auto;
    padding-left: 90px;
    padding-top: 63px;
  }

  .hero__text {
    color: $black;
    text-align: left;
    margin-top: 34px;
    margin-bottom: 48px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    min-height: 583px;
    background-image: url("../../img/index-can-desktop@1x.png"), url("../../img/index-background-desktop@1x.jpg");
    background-size: auto, contain;
    background-repeat: no-repeat, no-repeat;
    background-position: 560px 149px, right top;
    padding-top: 130px;
    margin-top: -132px;
  }

  .hero__container {
    width: 1220px;
    margin: 0 auto;
    padding-top: 114px;
    padding-left: 80px;
  }

  .hero__text {
    margin-top: 37px;
    margin-bottom: 52px;
  }
}
