.extra-products {
  margin-top: 31px;
}

.extra-products__container {
  width: 280px;
  margin-top: 31px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220;
    display: flex;
    justify-content: space-between;
  }
}

.extra-products__list {
  @include list;
  margin-top: 30px;
}

.extra-products__item {
  padding: 14px 0 17px;
  border-bottom: 1px solid #cdcdcd;

  &--border-top {
    border-top: 1px solid #ededed;
  }

  @media (min-width: $tablet-width) {
    width: 634px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // flex-direction: column;
    // align-items: center;
  }
}

.extra-products__content-wrapper {
  display: flex;
  width: 280px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 224px;
  }
}

.extra-products__text {
  font-family: $arial;
  font-size: $second-fs;
  line-height: $second-lh;
  text-align: center;

  &--margin-top {
    margin-top: -100px;
  }

  &--white {
    color: #ffffff;
    position: relative;

    &::before {
      position: absolute;
      content: "";

      bottom: 100px;
      left: 50%;

      transform: translateX(-50%);

      width: 55px;
      height: 60px;

      background-image: url("../../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

.extra-products__promo {
  padding: 39px 0 35px;
}

.extra-products__image {
  width: 280px;
  height: 289px;
}
