.extra-products {
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 76px;
  }
}

.extra-products__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 85px;
  }
}

.extra-products__wrapper {
  margin-top: 31px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.extra-products__list {
  @include list;
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    margin-top: 86px;
  }
}

.extra-products__item {
  padding: 14px 0 18px;
  border-bottom: 1px solid #cdcdcd;

  &--border-top {
    border-top: 1px solid #ededed;
  }

  @media (min-width: $tablet-width) {
    width: 634px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 36px 28px;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    padding: 18px 0 16px;
    flex-wrap: nowrap;
  }
}

.extra-products__content-wrapper {
  margin: 12px 0 16px;
  display: flex;
  width: 280px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 224px;
    margin: 16px 0 27px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    margin: 0;
    margin-right: 40px;
    margin-left: auto;
  }
}

.extra-products__text {
  font-family: $arial;
  font-size: $second-fs;
  line-height: $second-lh;
  text-align: center;

  &--margin-top {
    margin-top: -103px;
  }

  &--third-fs {
    font-size: $third-fs;
  }

  &--fifth-lh {
    line-height: $fifth-lh;
  }

  &--white {
    color: #ffffff;
    position: relative;

    &::before {
      position: absolute;
      content: "";

      bottom: 123px;
      left: 50%;

      transform: translateX(-50%);

      width: 55px;
      height: 60px;

      background-image: url("../../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: left;

    &--margin-left {
      margin-left: 420px;
    }

    &--margin-top {
      margin-top: -130px;
    }

    &--white {

      &::before {
        bottom: 7px;
        left: -301px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;

    &--margin-left {
      margin-left: 0;
    }

    &--margin-top {
      margin-top: -103px;
    }

    &--white {

      &::before {
        bottom: 123px;
        left: 50%;

        transform: translateX(-50%);
      }
    }
  }
}

.extra-products__promo {
  padding-top: 39px;
  margin-bottom: 76px;

  @media (min-width: $tablet-width) {
    margin-bottom: 144px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 58px;
  }
}

.extra-products__image {
  width: 280px;
  height: 289px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 200px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
  }
}
