.main-product__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-product__list {
  @include list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 170px;
  }
}

.main-product__item {
  border-bottom: 1px solid #ededed;

  &--border-top {
    border-top: 1px solid #ededed;
  }

  @media (min-width: $tablet-width) {
    border: none;
    background-color: $gray;
    width: 324px;
    margin-bottom: 141px;

  &--last-child {
    padding-top: 250px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
}

.main-product__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;

  &--center {
    justify-content: center;
  }

  &--margin-top {
    margin-top: 82px;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.main-product__row {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 34px;
  }
}

.main-product__image {
  width: 140px;
  height: 144px;
}

.main-product__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  margin-top: 18px;
}

.main-product__text-wrapper {
  width: 140px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 250px;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 0;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.main-product__text {
  font-family: $arial;
  font-size: $first-fs;
  line-height: $third-lh;

  &--third-fs {
    font-size: $third-fs;
  }

  &--black {
    color: $black;
  }

  &--fw-normal {
    font-weight: 400;
  }

  &--oswald {
    font-family: $oswald;
  }

  &--fifth-lh {
    line-height: $fifth-lh;
  }

  &--plus {
    position: relative;

    &::before {
      content: "";
      position: absolute;

      top: -60px;
      left: 75px;

      width: 30px;
      height: 30px;

      opacity: 0.2;

      background-image: url("../../img/icon-plus-mobile.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: $third-fs;

    &--fouth-fs {
      font-size: $fouth-fs;
    }

    &--width {
      width: 166px;
    }
  }
}
