.adress__text {
  width: 140px;
  margin: 0;
  font-family: $arial;
  font-size: $second-fs;
  line-height: $fifth-lh;
  font-weight: 400;

  &--black {
    color: $black;
  }

  &--oswald {
    font-family: $oswald;
  }

  &--third-fs {
    font-size: $third-fs;
  }

  @media (min-width: $tablet-width) {
    width: 155px;
    font-size: $third-fs;

    &--text-right {
      text-align: right;
    }

    &--fouth-fs {
      font-size: $fouth-fs;
    }

    &--tenth-lh {
      line-height: $tenth-lh;
    }
  }
}
