.adress__text {
  font-family: $arial;
  font-size: $second-fs;
  line-height: $fifth-lh;

  &--oswald {
    font-family: $oswald;
  }

  &--third-fs {
    font-size: $third-fs;
  }
}

@media (min-width: $tablet-width) {
  .adress__text {
    width: 150px;
  }
}
