.copyright {
  padding-top: 22px;
  padding-bottom: 25px;
}

.copyright__text {
  font-family: $arial;
  line-height: $third-lh;
  margin-right: 20px;
}

.copyright__link {
  display: inline-block;
  width: 27px;
  height: 34px;
  padding: 0;
}

.copyright__image {
  width: 27px;
  height: 34px;
}
