.map__image {
  width: 320px;
  height: 400px;
}

@media (min-width: $tablet-width) {
  .map__image {
    width: 768px;
    height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .map__image {
    width: 1400px;
    height: 399px;
  }
}
