.page-footer__container {
  width: 280px;
  margin: 0 auto;
}

.page-footer__adress {
  display: flex;
  padding: 27px 0 26px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 65px 41px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 88px 35px 76px;
  }
}

.page-footer__wrapper {
  background-color: #ffffff;

  &--bg-gray {
    background-color: $gray;
  }

  @media (min-width: $desktop-width) {
    // margin-top: 89px;
  }
}

.page-footer__logo-image {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  padding: 35px 0 30px;

  @media (min-width: $tablet-width) {
    padding: 62px 0 63px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 0 63px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    width: 708px;
    margin: 0 auto;

    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }

  .page-footer__adress {
    position: absolute;
    width: 570px;
    box-sizing: border-box;
    top: 93px;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
  }
}
