.page-footer {
  @include full-width;
}

.page-footer__container {
  @include container;
  background-color: $gray;
  &--white {
    background-color: #ffffff;
  }
}

.page-footer__logo-image {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  padding: 39px 0 31px;
}
