.selection {
  padding-top: 12px;
}

.selection__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 635px;

    &--border {
      border: 1px solid #ededed;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1220px;

    &--width {
      width: 570px;
    }

    &--flex {
      display: flex;
    }
  }
}

.selection__form {
  display: flex;
  flex-wrap: wrap;
}

.selection__text {
  width: 230px;
  margin: 0;
  margin-top: 37px;
  margin-bottom: 38px;
  font-size: $second-fs;
  color: $black;
  text-align: left;
  text-transform: uppercase;
}
