.button {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  &--green {
    padding: 13px 0 12px;
    background-color: #68b738;
  }
  &--third-size {
    padding: 14px 0 11px;
  }
}
