.button {
  display: inline-block;
  width: 280px;
  padding: 13px 0 12px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  &--green {
    background-color: #68b738;
  }

  &--second-fs {
    font-size: 14px;
  }

  &--padding-bottom {
    padding: 14px 0 11px;
  }

  &--gray {
    color: #444444;
  }

  &--background {
    background-color: #f2f2f2;
  }

  &--fifth-lh {
    line-height: $fifth-lh;
  }

  &--no-border {
    border: none;
  }
}
