.button {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 0 12px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  &--bg-green {
    background-color: #68b738;
  }

  &--second-fs {
    font-size: 14px;
  }

  &--padding {
    padding: 14px 0 11px;
  }

  &--darkgray {
    color: #444444;
  }

  &--bg-gray {
    background-color: $gray;
  }

  &--fifth-lh {
    line-height: $fifth-lh;
  }

  &--no-border {
    border: none;
  }

  @media (min-width: $tablet-width) {
    &--width {
      width: 36%;
    }

    &--fouth-fs {
      font-size: $fouth-fs;
    }

    &--fifth-lh {
      line-height: $fifth-lh;
    }

    &--padding {
      padding: 17px 0 15px;
    }
  }

  @media (min-width: $desktop-width) {
    &--width {
      width: 20%;
    }
  }
}

