$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;
$white: #ffffff;
$gray: #f2f2f2;
$black: #111111;

$tablet-width: 768px;
$desktop-width: 1400px;
$mobile-width-only: 767px;

$first-fs: 12px;
$second-fs: 14px;
$third-fs: 16px;
$fouth-fs: 20px;
$fifth-fs: 24px;
$sixth-fs: 36px;
$seventh-fs: 60px;
$eighth-fs: 18px;

$first-lh: 12px;
$second-lh: 14px;
$third-lh: 16px;
$fouth-lh: 18px;
$fifth-lh: 20px;
$sixth-lh: 24px;
$seventh-lh: 36px;
$eighth-lh: 60px;
$ninth-lh: 37px;
$tenth-lh: 25px;
