.first-title {
  margin: 0;
  font-weight: 400;
  font-size: $sixth-fs;
  line-height: $seventh-lh;
  text-align: center;
  color: #ffffff;

  &--width {
    width: 280px;
  }

  &--margin-top {
    margin-top: 32px;
  }

  &--margin-bottom {
    margin-bottom: 35px;
  }

  &--black {
    color: $black;
  }

  &--eighth-lh {
    line-height: $eighth-lh;
  }

  &--text-left {
    text-align: left;
  }

  &--padding-left {
    padding-left: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 430px;
    color: $black;
    text-align: left;
    font-size: $seventh-fs;
    line-height: $eighth-lh;

    &--padding-left {
      padding-left: 30px;
    }
  }
}
