.first-title {
  width: 253px;
  margin: 0 auto;
  padding-top: 29px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  &--black {
    width: 280px;
    margin-top: 32px;
    margin-bottom: 35px;
    color: $black;
    line-height: 60px;
    text-align: left;
  }
}
