.first-title {
  width: 253px;
  margin: 0 auto;
  font-weight: 400;
  font-size: $sixth-fs;
  line-height: $seventh-lh;
  text-align: center;
  color: #ffffff;

  &--width {
    width: 280px;
  }

  &--margin-top {
    margin-top: 32px;
  }

  &--margin-bottom {
    margin-bottom: 35px;
  }

  &--black {
    color: $black;
  }

  &--eighth-lh {
    line-height: $eighth-lh;
  }
}

@media (min-width: $tablet-width) {
  .first-title {
    width: 420px;
    color: $black;
    margin: 0;
    text-align: left;
    font-size: $seventh-fs;
    line-height: $eighth-lh;
  }
}
