.second-title {
  margin: 0;
  font-size: $sixth-fs;
  line-height: $eighth-lh;
  font-weight: 400;
  color: $black;

  &--fifth-fs {
    font-size: $fifth-fs;
  }

  &--sixth-lh {
    line-height: $sixth-lh;
  }

  &--width {
    width: 181px;
  }

  &--margin {
    margin: 31px 0;
  }

  &--padding-left {
    padding-left: 20px;
  }

  &--green-line {
    position: relative;

    &::after {
      content: "";
      position: absolute;

      top: 13px;
      right: -20px;

      width: 53px;
      height: 3px;

      background-color: #68b738;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: $seventh-fs;

    &--sixth-fs {
      font-size: $sixth-fs;
    }

    &--seventh-lh {
      line-height: $seventh-lh;
    }

    &--padding-left {
      padding-left: 67px;
    }

    &--width {
      width: 520px;
    }

    &--green-line {

      &::after {
        width: 328px;
        height: 3px;

        background-color: #68b738;
      }

      &::before {
        content: "";
        position: absolute;

        top: 15px;
        left: -56px;

        width: 30px;
        height: 3px;

        background-color: #68b738;
      }
    }
  }
}
