.second-title {
  margin: 0;
  font-size: $fifth-fs;
  line-height: $sixth-lh;
  font-weight: 400;
  color: $black;

  &--eighth-lh {
    line-height: $eighth-lh;
  }

  &--sixth-fs {
    font-size: $sixth-fs;
  }

  &--green-line {
    position: relative;

    &::after {
      content: "";
      position: absolute;

      top: 13px;
      right: -20px;

      width: 53px;
      height: 3px;

      background-color: #68b738;
    }
  }

  @media (min-width: $tablet-width) {

    &--eighth-lh {
      line-height: $eighth-lh;
    }

    &--seventh-fs {
      font-size: $seventh-fs;
    }
  }
}
