.third-title {
  margin: 0;
  font-size: $third-fs;
  line-height: $fifth-lh;
  text-transform: uppercase;
  font-weight: 400;
  color: $black;

  &--third-lh {
    line-height: $third-lh;
  }

  &--padding-left {
    padding-left: 72px;
  }

  &--ninth-lh {
    line-height: $ninth-lh;
  }

  &--width {
    width: 75px;
  }

  &--fifth-fs {
    font-size: $fifth-fs;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: $sixth-fs;
    line-height: $ninth-lh;

    &--fouth-fs {
      font-size: $fouth-fs;
    }

    &--fifth-lh {
      line-height: $fifth-lh;
    }

    &--width {
      width: 124px;
    }
  }

  @media (min-width: $desktop-width) {
    &--padding-left {
      padding-left: 222px;
    }
  }
}

// @media (min-width: $tablet-width) {
//   .third-title {
//     padding: 0;
//     font-size: $sixth-fs;
//     line-height: $ninth-lh;

//     &--fouth-fs {
//       font-size: $fouth-fs;
//     }

//     &--fifth-lh {
//       line-height: $fifth-lh;
//     }

//     &--width {
//       width: 124px;
//     }
//   }
// }
