.third-title {
  margin: 0;
  font-size: $third-fs;
  line-height: $fifth-lh;
  text-transform: uppercase;
  font-weight: 400;
  color: $black;

  &--third-lh {
    line-height: $third-lh;
  }

  &--padding-left {
    padding-left: 71px;
  }

  &--ninth-lh {
    line-height: $ninth-lh;
  }

  &--width {
    width: 75px;
  }

  &--fifth-fs {
    font-size: $fifth-fs;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: $fouth-fs;
    line-height: $fifth-lh;

    &--width {
      width: 135px;
    }

    &--text-center {
      text-align: center;
    }

    &--sixth-fs {
      font-size: $sixth-fs;
    }

    &--margin-bottom {
      margin-bottom: 17px;
    }
  }

  @media (min-width: $desktop-width) {
    &--padding-left {
      padding-left: 162px;
    }

    &--margin-bottom {
      margin-bottom: 2px;
    }
  }
}
